/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Custom properties */
:root {
	--band-bg-primary: #222222;
	--band-bg-secondary: #2b2b2b;
	--band-txt-primary: white;
	--band-txt-secondary: #a5a5a5;
	--band-highlight: #464646;
}

/* Common */
body {
    background-color: var(--band-bg-primary);
	font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
	background-color: var(--band-bg-primary);
}

/* Utilities */
.wrapper {
	height: 100vh;
}

.d-flex-r {
	display: flex;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.align-center {
	align-items: center;
}

.gap-1 {
	gap: 1rem;
}

.padding-1 {
	padding: 1rem;
}

/* Header */
[type="text"] {
	width: 20vw;
	padding: 0.5rem 2rem;
	border: 0;
	border-radius: 3px;
	color: var(--band-txt-secondary);
	background-color: var(--band-highlight);
}

.top-header {
    padding: .8rem 2rem;
	.logo-container {
	}
}

nav {
	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: var(--band-txt-primary);
	}

	a:hover {
		color: var(--band-txt-secondary);
		text-decoration: underline;
	}
}

.bottom-header {
	width: 100%;
	background-color: var(--band-bg-secondary);
    padding: .8rem 2rem;

	[type="text"] {
		width: 30vw;
		border: 1px solid var(--band-txt-secondary);
		border-radius: 20px;
	}
}

/* Main content */
.left {
    width: 70%;
    padding: 1rem;
    flex-wrap: wrap;
}

.right {
    width: 30%;
    padding: 1rem;
}

/* Card */
.card {
    width: calc(100% / 4);
    padding: .5rem;

    .card-title,
    .card-author,
    .card-genre {
        color: var(--band-txt-primary);
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .card-genre {
        font-size: .8rem;
        color: var(--band-txt-secondary);
    }
}